{{#if blogPost.comments}}
  <section>
    <h3>Comments</h3>
    <ul>
      {{#each blogPost.comments as |comment|}}
        <li>{{comment.commentText}} - {{comment.dateCreated}}</li>
      {{/each}}
    </ul>
  </section>
{{/if}}
