<div class="offcanvas offcanvas-start show" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel" style="width: 20%; margin-bottom: 200px; margin-top: 80px;">
  <div class="offcanvas-header">
        <a class="link-body-emphasis d-flex align-items-center me-md-auto mb-3 mb-md-0 text-decoration-none" href="/">
            <svg class="bi bi-bootstrap-fill me-3" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 25px;">
                <!-- Your SVG content here -->
            </svg>
            <span class="fs-4">Blog Nav (click X close) </span>
        </a>
        <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body d-flex flex-column justify-content-between p-0">
        <div>
            <hr class="my-0" />
            <div class="list-group list-group-flush border-bottom scrollarea"><a class="list-group-item list-group-item-action active py-3 lh-tight" href="#" aria-current="true">
                    <div class="d-flex justify-content-between align-items-center w-100"><strong class="mb-1">This is just temporary</strong><small>Wed</small></div>
                    <div class="col-10 mb-1 small"><span>Some content.</span></div>
                </a><a class="list-group-item list-group-item-action py-3 lh-tight" href="#">
                    <div class="d-flex justify-content-between align-items-center w-100"><strong class="mb-1">List item heading</strong><small class="text-muted">Tues</small></div>
                    <div class="col-10 mb-1 small"><span>Some content.</span></div>
                </a><a class="list-group-item list-group-item-action py-3 lh-tight" href="#">
                    <div class="d-flex justify-content-between align-items-center w-100"><strong class="mb-1">List item heading</strong><small class="text-muted">Mon</small></div>
                    <div class="col-10 mb-1 small"><span>Some content.</span></div>
                {{!-- </a><a class="list-group-item list-group-item-action py-3 lh-tight" href="#" aria-current="true">
                    <div class="d-flex justify-content-between align-items-center w-100"><strong class="mb-1">List group item heading</strong><small class="text-muted">Wed</small></div>
                    <div class="col-10 mb-1 small"><span>Some placeholder content in a paragraph below the heading and date.</span></div>
                </a><a class="list-group-item list-group-item-action py-3 lh-tight" href="#">
                    <div class="d-flex justify-content-between align-items-center w-100"><strong class="mb-1">List group item heading</strong><small class="text-muted">Tues</small></div>
                    <div class="col-10 mb-1 small"><span>Some placeholder content in a paragraph below the heading and date.</span></div>
                </a><a class="list-group-item list-group-item-action py-3 lh-tight" href="#">
                    <div class="d-flex justify-content-between align-items-center w-100"><strong class="mb-1">List group item heading</strong><small class="text-muted">Mon</small></div>
                    <div class="col-10 mb-1 small"><span>Some placeholder content in a paragraph below the heading and date.</span></div>
                </a><a class="list-group-item list-group-item-action py-3 lh-tight" href="#" aria-current="true">
                    <div class="d-flex justify-content-between align-items-center w-100"><strong class="mb-1">List group item heading</strong><small class="text-muted">Wed</small></div>
                    <div class="col-10 mb-1 small"><span>Some placeholder content in a paragraph below the heading and date.</span></div>
                </a><a class="list-group-item list-group-item-action py-3 lh-tight" href="#">
                    <div class="d-flex justify-content-between align-items-center w-100"><strong class="mb-1">List group item heading</strong><small class="text-muted">Tues</small></div>
                    <div class="col-10 mb-1 small"><span>Some placeholder content in a paragraph below the heading and date.</span></div>
                </a><a class="list-group-item list-group-item-action py-3 lh-tight" href="#">
                    <div class="d-flex justify-content-between align-items-center w-100"><strong class="mb-1">List group item heading</strong><small class="text-muted">Mon</small></div>
                    <div class="col-10 mb-1 small"><span>Some placeholder content in a paragraph below the heading and date.</span></div>
                </a><a class="list-group-item list-group-item-action py-3 lh-tight" href="#" aria-current="true">
                    <div class="d-flex justify-content-between align-items-center w-100"><strong class="mb-1">List group item heading</strong><small class="text-muted">Wed</small></div>
                    <div class="col-10 mb-1 small"><span>Some placeholder content in a paragraph below the heading and date.</span></div>
                </a><a class="list-group-item list-group-item-action py-3 lh-tight" href="#">
                    <div class="d-flex justify-content-between align-items-center w-100"><strong class="mb-1">List group item heading</strong><small class="text-muted">Tues</small></div>
                    <div class="col-10 mb-1 small"><span>Some placeholder content in a paragraph below the heading and date.</span></div>
                </a><a class="list-group-item list-group-item-action py-3 lh-tight" href="#"> --}}
                    <div class="d-flex justify-content-between align-items-center w-100"><strong class="mb-1">List group item heading</strong><small class="text-muted">Mon</small></div>
                    <div class="col-10 mb-1 small"><span>Some placeholder content in a paragraph below the heading and date.</span></div>
                </a></div>
        </div>
    </div>
    <link rel="stylesheet" href="{{stylesheets}}">
</div>