<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="{{stylesheets}}">
    {{!-- {{> navbar stylesheets="/css/navbar.css"}} --}}
</head>

<body>
    {{!-- <div class="container"> --}}
    
    {{{body}}}

    {{!-- </div> --}}





    <script src="{{javascripts}}"></script>
    <script src="/js/script.js"></script>
    <script>
        console.log("Hello from main.handlebars !");

    </script>
</body>
{{> footer stylesheets="/css/footer.css"}}

</html>