<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="{{stylesheets}}">
</head>
<body>
    {{{body}}}

     
    <script src="{{javascripts}}"></script>
    <script src="/js/script.js"></script>
    <script>
        console.log("Hello from main.handlebars");

    </script>
</body>
</html>
