<header>
    <h1>Welcome to the Blog!</h1>
    <nav>
        {{#if loggedIn}}
            <a href="/signout">Sign Out</a>
            <a href="/blogs/new">Create New Post</a>
        {{else}}
            <a href="/signin">Sign In</a>
            <a href="/signup">Sign Up</a>
        {{/if}}
    </nav>
</header>
<section>
    {{#each posts}}
        {{> blogpost}}
    {{/each}}
</section>
<footer>
    <p>&copy; 2024 BlogChan</p>
