<header>
    {{> navbar}}
</header>

<section class="py-4 py-xl-5">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                <div>
                    <h2 class="text-uppercase fw-bold mb-3">BlogChan<br />Welcome to the Community</h2>
                    <p class="mb-4">This is the space to comment, post and vote on what you like, what you don't, or whatever you feel like.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div>
        {{#each posts}}
        <div class="main">
            {{> blogpost}}
            {{> technologyposts}}
        </div>
        {{/each}}
    </div>
</section>
