<form action="/api/signin" method="POST">
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>

  <button type="submit">Sign In</button>
  <a href="/signup">Don't have an account? Sign Up</a>
  <link rel="stylesheet" href="{{stylesheets}}">
</form>