body, html {
    font-family: Arial, sans-serif;
    height: 100%; /* Ensure the HTML and body are full height */
    margin: 0;
    padding: 0;
    background-image: url('/assets/blog.jpg'); 
    background-color: #f5f5f5;
    background-size: cover;
    background-position: center center; 
    background-attachment: fixed; 
    overflow-x: hidden;

}

/* Custom styles for BlogChan */

.comments-wrapper {
    background-color: #fff;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comments-list {
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

h3 {
    margin-top: 0;
    text-align: center;
}

article h2 {
    color: #0079d3;
}

.vote-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.vote-buttons button {
    background-color: #0079d3;
    color: white;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 8px;
}

.upvote-button,
.downvote-button {
    display: inline-flex;
    align-items: center;
}

.upvote-count,
.downvote-count {
    margin-left: 5px;
}

.main {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.8);
}

footer {
    background-color: #0079d3;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border: 2px solid rgba(0, 0, 0, 0.8);
}

.author-label,
.date-label {
    font-size: 0.9em;
    color: #382206e3;
    font-weight: normal;
}

.author-name,
.date-value {
    font-size: 0.85em;
    color: #130b36af;
}

.displayed-content {
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
    color: #333;
    line-height: 1.6;
}

.comment-text {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #1b3caa;
}

.comment-input {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #333;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signin-signup-form {
    max-width: 400px;
    margin: auto;
}

.edit-delete-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

form button:hover {
    background-color: #0056b3;
}
